{% extends 'base.html.twig' %}

{% block title %}A PROPOS{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
        
            <div class="col-md-4" >
                <img src="" style="width: 400px;" alt="">
            </div>

            <div class="row col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, at! Aperiam minus beatae, 
                    odit dignissimos deleniti saepe quam consectetur consequuntur eos fugi
                    impedit ipsum magnam autem molestiae adipisci ad distinctio!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, at! Aperiam minus beatae, 
                    odit dignissimos deleniti saepe quam consectetur consequuntur eos fugi
                    impedit ipsum magnam autem molestiae adipisci ad distinctio!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, at! Aperiam minus beatae, 
                    odit dignissimos deleniti saepe quam consectetur consequuntur eos fugi
                    impedit ipsum magnam autem molestiae adipisci ad distinctio!
                </p>
            </div>
        </div>
    </div>

 <code><a href="{{ 'C:/xampp/htdocs/projet_collectif/projet_collectif/src/Controller/AboutController.php'|file_link(0) }}">src/Controller/AboutController.php</a></code></li>
       
{% endblock %}
