{% extends "base.html.twig" %}

{% block body %}

<div class="cardmariage" style="width: 18rem; margin-top: -14px; float=right">
  <img src="photos/packmariage.jpg" class="card-img-top" alt="pack mariage">
  <div class="cardmariage">
    <h5 class="cardmariage"></h5>
    <p class="card-text">Package mariage.</p>
  </div>

  <ul class="list-group documents  list-group-flush">
    <li class="list-group-item">Pièces d'identité et justificatif de domicile relatifs aux témoins (noms, prénoms, date et lieu de naissance, profession et domicile)</li>
    <li class="list-group-item">Une copie intégrale de l’acte de naissance de moins de 3 mois si la naissance a eu lieu en France et oins de 6 mois si né à l'étranger</ li>
    <li class="list-group-item">Le certificat du notaire s’il y a un contrat de mariage pour les étrangers</li>
    <li class="list-group-item">L’audition des futurs époux</li>
  </ul>

  
<div class="cardnaissance" style="width: 18rem; margin-top: -14px; float=left">
  <img src="photos/photonaissance.jpg" class="card-img-top" alt="pack naissance">
    <h5 class="cardnaissance">PACKAGE NAISSANCE</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  
  <ul class="list-group documents  list-group-flush">
    <li class="lnaaaist-group-item">Certificat d’accouchement (établi par un médecin, une sage-femme, la clinique ou l’hôpital)</li>
    <li class="list-group-item">Pièces d’identité des deux parents. Livret de famille si un ou les deux parents en possèdent déjà un.</ li>
    <li class="list-group-item">Une copie de l’acte de reconnaissance si l’enfant a été reconnu avant la naissanceUn justificatif de domicile si le bébé n’est pas , uncore reconnu. Déclaration du choix de nom de famille si nécessaire : depuis 2005, les parents ont en effet la possibilité de choisir le nom du père, celui de la mère, ou les deux noms de famille accolés pour nommer leur enfant</li>
    <li class="list-group-item">Démarche après naissance : prévenir la Caf</li>
    <li class="list-group-item">Formalités naissance bébé auprès de la CPAM et de votre mutuelle</li>
     <li class="list-group-item">L’acte de naissance de votre enfant ou une photocopie de votre livret de famille</li>
  </ul>


<div class="carddeces" style="width: 18rem; margin-top: -14px;">
  <img src="photos/deces.jpg" class="card-img-top" alt="pack deces">
  <div class="carddesces">
    <h5 class="card-title">PACKAGE DECES</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  
  <ul class="list-group documents  list-group-flush">
    <li class="list-group-item">Déclaration de décès et de regularisation aupres de la CAF</li>
    <li class="list-group-item">Déclaration de décès et de régularisation auprès des impôts</ li>
    <li class="list-group-item>Obtenir un certificat de décès auprès de la mairie </li>
    <li class="list-group-item">Déclaration de décès auprès de la caisse de retraite</li>
  </ul>

<div class="card" style="width: 18rem; margin-top: 321px;">
  <img src="photos/services.jpg" class="card-img-top" alt="pack mariage">
  <div class="card-body">
    <h5 class="card-title">SERVICES ADDITIONNELLES</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  
  <ul class="list-group documents  list-group-flush">
    <li class="list-group-item">Prologation du stockage des documents/li>
    <li class="list-group-item">Services inclus la préparation des dossiers administratifs</ li>
    <li class="list-group-item">Service de courisers inclus</li>
  </ul>
     




  
{% endblock %}






  









