{% extends 'base.html.twig' %}

{% block title %} Services Docx +{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">Laissez un commentaire</h1>

    {# Si l'utilisateur est connecté, affichage du formulaire pour enregistrer un commentaire #}
    {% if app.user %}

        {{ form_start(formCommentaire, {'attr': {'class': 'col-md-7 mx-auto'}})) }}

            {{ form_row(formCommentaire.pseudo, {'label': 'Pseudo', 'attr': {'placeholder': "Votre nom"}}) }} 
            
            {{ form_row(formCommentaire.commentaire, {'label': 'Votre message', 'attr': {'placeholder': "Votre commentaire"}}) }} 
            
            <button type="submit" class="btn btn-info mb-3">Enregistrez votre commentaire</button> 
            
        {{ form_end(formCommentaire) }}
        
    {% endif %}


{% endblock %}
