{% extends 'base.html.twig' %}

{% block title %} Services Docx +{% endblock %}

{% block body %}

<div class="container row col-md-10 mr-2 text-center mt-5 mx-auto">

  <div class="pack">

  <div class="card" style="width: 18rem;">
    <img src="photos/packmariage.jpg" class="card-img-top" alt="pack mariage">
    <div class="card-body">
      <h5 class="card-title">PACKAGE MARIAGE</h5>
      <a href="#" class="card-link">Je m'abonne</a>
      <p class="card-text">Pour que le plus beau jour de votre vie commence dès aujourd'hui, nous avons un pack bague à la main</p>
      <a href="#" class="btn btn-primary">Plus d'infos</a>
    </div>
  </div>
  <div class="card details" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nous prenons en charge</h5>
      <p class="card-text">Pièces d'identité et justificatif de domicile relatifs aux témoins (noms, prénoms, date et lieu de naissance, profession et domicile)</p>
      <a href="#" class="card-link">Je m'abonne</a>
    </div>
  </div>

</div>
<div class="pack">

  <div class="card" style="width: 18rem;">
    <img src="photos/packmariage.jpg" class="card-img-top" alt="pack mariage">
    <div class="card-body">
      <h5 class="card-title">PACKAGE MARIAGE</h5>
      <a href="#" class="card-link">Je m'abonne</a>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Plus d'infos</a>
    </div>
  </div>
  <div class="card details" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nous prenons en charge</h5>
      <p class="card-text">Pièces d'identité et justificatif de domicile relatifs aux témoins (noms, prénoms, date et lieu de naissance, profession et domicile)</p>
      <a href="#" class="card-link">Je m'abonne</a>
    </div>
  </div>
  
</div>
<div class="pack">

  <div class="card" style="width: 18rem;">
    <img src="photos/packmariage.jpg" class="card-img-top" alt="pack mariage">
    <div class="card-body">
      <h5 class="card-title">PACKAGE MARIAGE</h5>
      <a href="#" class="card-link">Je m'abonne</a>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Plus d'infos</a>
    </div>
  </div>
  <div class="card details" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Nous prenons en charge</h5>
      <p class="card-text">Pièces d'identité et justificatif de domicile relatifs aux témoins (noms, prénoms, date et lieu de naissance, profession et domicile)</p>
      <a href="#" class="card-link">Je m'abonne</a>
    </div>
  </div>
  
</div>
    
    {# <ul class="list-group documents  list-group-flush">
      <li class="list-group-item"></li>
      <li class="list-group-item">Une copie intégrale de l’acte de naissance de moins de 3 mois si la naissance a eu lieu en France et oins de 6 mois si né à l'étranger</ li>
      <li class="list-group-item">Le certificat du notaire s’il y a un contrat de mariage pour les étrangers</li>
      <li class="list-group-item">L’audition des futurs époux</li>
    </ul> #}

</div>

{# Si l'utilisateur est connecté, affichage du formulaire pour enregistrer un commentaire #}
{% if app.user %}

  <h1 class="display-4 text-center my-4">Laissez un commentaire</h1>

    {{ form_start(formCommentaire, {'attr': {'class': 'col-md-7 mx-auto'}}) }}

        {{ form_row(formCommentaire.pseudo, {'label': 'Pseudo', 'attr': {'placeholder': "Votre nom"}}) }} 
        
        {{ form_row(formCommentaire.commentaire, {'label': 'Votre message', 'attr': {'placeholder': "Votre commentaire"}}) }} 
        
        <button type="submit" class="btn btn-info mb-3">Enregistrez votre commentaire</button> 
        
    {{ form_end(formCommentaire) }}
    
{% endif %}


{% endblock %}

