

.menu li{
    padding: -92px;
}

.photo{
    padding: -92px;
}

.menunav li{
  
    margin-top: 10px;
}


.mr-auto menu{
    margin-top: -69px;
    width:300px;
    height:300px;
}

#carousel{

    float:center;
    margin-top:-91px;

    margin-top:120px;
    margin-left: 544px;
}

body
{
    background: #eefdee;
    font-family: 'Anonymous Pro', monospace, Arial, Helvetica, sans-serif;


}

/* .mr-auto menu {
    position: top;
	border-top: 108px;
	box-shadow: 0 1px 2px;
	border-radius:4px;
	padding:20px 25px;
	margin:50px 0 25px 0;
} */

/* utile?
li .menu
{

    text-align:center;
    margin-left: 76px;
    display: inline;
    list-style: none;
    color: #4ab64a;

}
*/

.carousel
{
    float:center;
    margin-top:50px;
}

/* footer{
    
    position:absolute;
<<<<<<< HEAD
    padding:0;
    width:100%;
    height:50px;
=======
    padding:0
    bottom: 0; 
    
    Right: 0;
    width: 100%;
    height: 50px;
>>>>>>> 7957dc7d102f2925dfb63b4574e38581be13fda1
    
    } */

blockquote
{
    margin: 120px;
    font-size: 1,25rem;
}

ul li
{
    /* list-style-type: none; */
    display: inline-block; 
    margin-left: 12px;
}

.guillemets
{
    width: 80px;
}

.navigation
{
    background:#eefdee;

}

.menu li a
{   
    list-style-type: none;
    color: #4ab64a;
    padding-top:50px;
    position: center;
    display: inline;
    margin: 70px;
}

.footer
{
    background:#323232;
    height: 50px;
    
}
/* .coordonnees li a
{
    color: #4ab64a;
    margin-top: 100px;

} */

/* .navbar
{
    color:#323232;
} */

.logo
{
    width: 200px;
   
}

/* .navigation_navbar{
    color:#323232;
} */


/* .navigation li{
      font-size: 25px;
      color:#323232;

} */


/* .footer, li{
      color:  #4ab64a;
      padding-top: 10px;
      
      
} */

.coordonnees li
{
    list-style-type:none;
    display: inline;
    padding-right: 30px;
    margin: 50px;
    position:  center 
}


.footer li a
{   
    color:  #4ab64a;
    position: center;
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    margin: 70px;
    font-size: 20px;
 
}



ul li, a
{   
    
    display: inline-block;
    font-size: 25px;
    font-weight: bold !important;
    list-style: none;
    color:#4ab64a !important;
    padding-right:15px;

}

/* .dropdown a
{
    display: block;
} */

/* BODY */

body
{   
    background: #eefdee !important;
    font-family: 'Anonymous Pro', monospace, Arial, Helvetica, sans-serif !important; 

}
/* .carousel
{
    float:center;
    margin-top:50px;
} */

/* FOOTER */
.footer
{
    background:#323232;
    color:#4ab64a;
    display:flex;
    flex-wrap:wrap;
    
}

small, p
{
    color:white;
    flex-wrap:wrap;
}

footer section{
	justify-content: center;
}


.socials, footer p{
	text-align: center;
}

.socials img
{
	width: 60px;
	height: 60px;
    margin: 10px;
    border-radius:50px;
}

footer section .footer-items
{
	display: inline-flex;
}

footer section .footer-item
{
	width: 200px;
	padding: 10px;
	margin: 10px;
} 
